<button id=homePage> Retour au menu principal !</button>

</body>

<script>

const back = document.getElementById('homePage');

function gobak() {
document.location.href= https://elisplay.herokuapp.com/play
}


elt.addEventListener('click', gobak() {});
</html>
