<button id="homePage"> Retour au menu principal !</button>

<button id="avant"> Retour a la page d'avant !</button>

</body>

<script>

const back = document.getElementById('homePage');

window.onload = function() {

    (document.getElementById("homePage")).addEventListener('click', function(e) {
e.preventDefault();
        menu()
  
    });



    (document.getElementById("avant")).addEventListener('click', function(e) {
e.preventDefault();
        gobak()
  
    });
}



function menu() {
document.location.href= "/play"
}
function gobak() {
    history.back()
}

</script>

<link href="styleElsiplay.css" rel="stylesheet">

</html>
