<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <title>GG</title>
</head>

<body>
    <form action="/gg" method="post"> <label for="gg">
				<!-- font awesome icon --> <i class="fas fa-gg"></i>
			</label> <input type="submit" value="gg"> </form>
    <table>
        <tr>
            <th>Username</th>
            <th>Snake</th>
            <th>Tetris</th>
            <th>TD</th>
            <th>Speed</th>
            <th>Brick</th>
            <th>Flappy</th>
        </tr>
        <tr>
            <td>Name</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
    </table>
</body>

</html>